<% provide(:title, 'About Us')%>
<!DOCTYPE html>
<html>
<body>
<h1>About Us</h1>
<p>
This is the page describing the illustrious Bryan Haye
If you were looking for accomplishments, none have been accounted of notable worth in His eyes.
<a href="http://twitter.com/Washbert">About Di Man</a>
Sample Application
</p>
</body>
</html>