<%provide(:title, 'Contact Us') %>
<!DOCTYPE html>
<html>
<body>
<h1>Contact Us</h1>
<p>
To contact me seems a bit out of the scope of this project. So, I say NO! to you.
<a href="http//twitter.com/Washbert">Dont Click IT!!!!!</a>
</p>
</body>
</html>