<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
<body>
<h1>Help Page</h1>
<p>
We shall provide the necessary assistance
<a href="http://tomshardware.com">Tomshardware</a>
Sample Application
</p>
</body>
</html>